* 
{
    box-sizing: border-box;
}

.CodeMirror{
	float: left;
 	width: 50%;
 	height: 100vh;
}

#controlContainer {
	height: 100vh;
	position: fixed;
	right: 0;
	width: 50%;
}

#memory-container
{
	position: fixed;
	font-family: monospace;
	width: 50%;
	height: 25vh;
	bottom: 0;
	font-size: 1vw;
	padding: 15px;
	text-align: center;
}

.current-memory{
	color: red;
}