
* 
{
   box-sizing: border-box;
}

.navbar {
	height: 56px;
}

.CodeMirror{
	float: left;
 	width: 50%;
 	height: calc(100vh - 56px);
}

#controlContainer {
	height: 100vh;
	position: fixed;
	right: 0;
	width: 50%;
}

#inputContainer {
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 3%;
}
  
#memory-container {
	position: fixed;
	font-family: monospace;
	width: 50%;
	height: 25vh;
	bottom: 0;
	font-size: 1vw;
	padding: 15px;
	text-align: center;
}
#owenWilsonFace {
	height: 100%;
}

.current-memory{
	color: red;
}